menu  "ALPS geomagnetic sensor support"
config SENSORS_HSCDTD007A
	depends on I2C && INPUT_POLLDEV
	tristate "ALPS geomagnetic sensor HSCDTD007/HSCDTD008"
	default n
        help
		This option enables hscd alps HSCDTD007a
		magnetometer driver.

		If you say yes, you will get support for
		HSCDTD007 and HSCDTD008.
endmenu
